@import "globals.scss";
@import "_animate.scss";
@import "_buttons.scss";
@import "_columns.scss";
@import "_flex.scss";
@import "_form.scss";
@import "_spacing.scss";
@import "_mobile.scss";

.container {
  width        : 100%;
  padding-right: 15px;
  padding-left : 15px;
  margin-right : auto;
  margin-left  : auto;

  @media (min-width: 576px) {
    & {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    & {
      max-width: 720px;
    }
  }

  @media (min-width: 994px) {
    & {
      max-width: 960px;
    }
  }

  @media (min-width: 1400px) {
    & {
      max-width: 1140px;
    }
  }
}

.adt-absolute {
  position: absolute;
}

.adt-fixed {
  position: fixed;
}

.adt-relative {
  position: relative;
}

.adt-visible {
  display: block;
}

.adt-invisible {
  display: none;
}

.adt-hidden {
  overflow: hidden;
}

// Alinhamento - Posições - Quebra de linha no Texto
.adt-text {
  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--justify {
    text-align: justify;
  }

  &--nowrap {
    white-space: nowrap;
  }

  &--wrap {
    white-space: normal;
  }

  &--bolder {
    font-weight: bold;
  }
}

.adt-content {
  &--init {
    vertical-align: top;
  }

  &--end {
    vertical-align: bottom;
  }

  &--middle {
    vertical-align: middle;
  }

  &--center {
    -ms-flex-line-pack: center !important;
    align-content     : center !important;
  }

  &--between {
    -ms-flex-line-pack: justify !important;
    align-content     : space-between !important;
  }

  &--around {
    -ms-flex-line-pack: distribute !important;
    align-content     : space-around !important;
  }

  &--stretch {
    -ms-flex-line-pack: stretch !important;
    align-content     : stretch !important;
  }
}

// Títulos
h1,
h2,
h3,
h4,
h5,
h6,
.adt-title {
  font-weight: normal;
  line-height: 1;
}

h1,
.adt-title-h1 {
  font-size: 2.5rem;
}

h2,
.adt-title-h2 {
  font-size: 2rem;
}

h3,
.adt-title-h3 {
  font-size: 1.75rem;
}

h4,
.adt-title-h4 {
  font-size: 1.5rem;
}

h5,
.adt-title-h5 {
  font-size: 1.25rem;
}

h6,
.adt-title-h6 {
  font-size: 1rem;
}

// Imagens
.adt-image {
  max-width: 100%;
  height   : auto;
}

// Dinheiro
.adt-money {
  margin     : 0;
  position   : relative;
  font-weight: 700;

  & small {
    font-weight: 400;
    position   : relative;
  }
}
